  <!-- Sidebar Start -->
  <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
      <a href="/" class="brand-link">
        <img src="img/bg-red.png" alt="Logo" class="img-fluid rounded float-left" style="opacity: .8" id="logo-sidebar-min">
        
      </a>
      
        <div class="navbar-nav w-100">
          <%if( title == "CFRO DASHBOARD"){%>
            <% var activeP = "active" %>
            <%};  %>
            <a href="/" class="nav-item nav-link <%= activeP %>"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          
          <% areas.forEach(element => {  %>
                
                
                
              <li class="nav-item">
               
                <%if( title == element.area){%>
                  <% var activeP = "active" %>
                  <%};  %>

                <a href="/<%= element.area %>"  class="nav-item nav-link <%= activeP %>">

                  <i class="nav-icon <%= element.coloricon %> <%= element.icon %> "></i>
                                      <%= element.area %>
                    <span class="right badge badge-danger"></span>
                    
                   
                </a>
              </li>
             
              <%           });   %>

          
        </div>
    </nav>
</div>

<!-- Sidebar End -->