

<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>

<script>


var areas = <%- JSON.stringify(areas); %>
var sectionParam2 = <%- sectionParam; %>
var pk_ini = <%- JSON.stringify(pk_ini);  %>
var pk_end = <%- JSON.stringify(pk_end);  %>
var data = <%- JSON.stringify(data);  %>



</script>

<div id="titleText"></div>

<table class="text-red-deep bg-dark">
<tr><td>

    <form action="/section" method="POST">
        <label>Section</label>
        
        <select name="section" type="number" id="section">
            
            <% for (i=1; i<=18; i++) {%>
                <option value=<%= i %>><%= i %></option>
                <% } %>
                
                
            </select>
            <button type="submit" class="btn btn-primary">Go to Section</button>
        </form>
        </td><td>
        <form action="/section" method="POST">
            <label>Pk Initial</label>
            <input type="number" id="pk_ini" name="pk_ini">
            <label>Pk End</label>
            <input type="number" id="pk_end" name="pk_end">
            <button type="submit" class="btn btn-warning">Go to PRS</button>
        </form>
        <td>

            <a href="/section">
                <button class="btn btn-info">All Corridor</button>
            </a>
        </td>
    </td></tr>
</table>
    
    <div id="tableContainer"></div>
    
    
    
        




<script src="/../js/sections.js"></script>

</body>

